#search-result {
    width: 300px;
    height: 225px;
    padding-left: 10px;
    color: darkblue;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload:hover {
    background-color: navy;
}

#search-term {
    width: 300px;
    height: 22px;
    padding-left: 10px;
}